<div class="container my-4">
  <h3 class="mb-3">Schedule Vehicle</h3>
  <div class="createServiceRecord">
    <h2>Service Record Detail Form</h2>
    <form #serviceRecordForm="ngForm" (ngSubmit)="submit(serviceRecordForm)">
      
      <div class="mb-3">
        <label for="vehicleId" class="form-label">Vehicle ID: {{id}}</label>
      </div>

    
      <div class="mb-3">
        <label for="serviceAdvisorId" class="form-label">Service Advisor ID:</label>
        <input type="text" name="serviceAdvisorId" id="serviceAdvisorId" class="form-control" #serviceAdvisorId="ngModel" ngModel placeholder="Service Advisor ID" required />
        <div class="invalid-feedback" *ngIf="!serviceAdvisorId.valid && serviceAdvisorId.touched">
          Enter Service Advisor ID
        </div>
      </div>

      <div class="mb-3">
        <label for="serviceDate" class="form-label">Service Date:</label>
        <input type="date" name="serviceDate" id="serviceDate" class="form-control" #serviceDate="ngModel" ngModel required />
        <div class="invalid-feedback" *ngIf="!serviceDate.valid && serviceDate.touched">
          Enter Service Date
        </div>
      </div>

      <div class="mb-3">
        <label for="status" class="form-label">Status:</label>
        <select name="status" id="status" class="form-select" #status="ngModel" ngModel required>
          <option value="Serviced">Serviced</option>
          <option value="Under Servicing">Under Servicing</option>
        </select>
        <div class="invalid-feedback" *ngIf="!status.valid && status.touched">
          Select Status
        </div>
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="!serviceRecordForm.valid">Submit</button>
    </form>
  </div>
</div>



<!--
//
Bootstrap
<div class="createServiceRecord" >
    <p>Service Record Detail Form</p>
    <form #serviceRecordForm="ngForm" (ngSubmit)="submit(serviceRecordForm)">
      <label for="vehicleId">Vehicle ID: {{id}}</label><br><br>
  
      <label for="serviceAdvisorId">Service Advisor ID:</label>
      <input type="text" name="serviceAdvisorId" id="serviceAdvisorId" #serviceAdvisorId="ngModel" ngModel placeholder="Service Advisor ID" required /><br><br>
      <p *ngIf="!serviceAdvisorId.valid && serviceAdvisorId.touched">Enter Service Advisor ID</p>
  
      <label for="serviceDate">Service Date:</label>
      <input type="date" name="serviceDate" id="serviceDate" #serviceDate="ngModel" ngModel required /><br><br>
      <p *ngIf="!serviceDate.valid && serviceDate.touched">Enter Service Date</p>
  
      <label for="status">Status:</label>
      <select name="status" id="status" #status="ngModel" ngModel required>
        <option value="Serviced">Serviced</option>
        <option value="Under Servicing">Under Servicing</option>
      </select><br><br>
      <p *ngIf="!status.valid && status.touched">Select Status</p>
  
      <button type="submit" [disabled]="!serviceRecordForm.valid">Submit</button>
    </form>
  </div>
-->