/* service-advisors.component.css */
.service-advisor-container {
    display: flex;
    height: 100vh;
  }
  
  .navbar {
    background-color: #333;
    padding: 10px;
  }
  
  .toggle-button {
    font-size: 30px;
    cursor: pointer;
    color: white;
  }
  
  .sidebar {
    width: 200px;
    background-color: #111;
    color: white;
    position: fixed;
    top: 0;
    left: -200px;
    height: 100%;
    overflow: auto;
    transition: left 0.3s;
  }
  
  .sidebar.active {
    left: 0;
  }
  
  .sidebar p {
    padding: 10px 15px;
    cursor: pointer;
    color: white;
    display: block;
  }
  
  .sidebar p:hover {
    background-color: #575757;
  }
  
  .content {
    margin-left: 200px;
    padding: 15px;
    width: 100%;
  }
  
  @media screen and (max-width: 768px) {
    .sidebar {
      width: 100%;
      left: -100%;
    }
    .sidebar.active {
      left: 0;
    }
    .content {
      margin-left: 0;
    }
  }
  