<div class="bk">
<nav class="navbar bg-dark border-bottom border-body" class="navbar fixed-top bg-body-tertiary" data-bs-theme="dark">
    <a class="navbar-brand" href="">
      <img src="https://up.yimg.com/ib/th?id=OIP.ENftY-r85PEDvCjKXn0j_gHaHa&pid=Api&rs=1&c=1&qlt=95&w=121&h=121" width="30" height="30" alt="Home Icon"> 
      Home
    </a>
    <div class="ml-auto">
      <button class="navbar bg-dark border-bottom border-body" data-bs-theme="dark" class="btn btn-dark" (click)="toggleLogin()">
        {{ isLoggedIn ? 'Logout' : 'Login' }}
      </button>
    </div>
  </nav>
</div>  